body{
    background-image:url(stopwatch1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height:100vh;
    font-family: cursive;
    font-style: italic;
}
.stopwatch{
  
    text-align: center;
    padding:20px;
    letter-spacing: 3px;
    color: rgb(201, 201, 236);
    border-radius: 60px;
}
button{
    border-radius:50px;
    background-color: rgb(217, 246, 243);
    color: rgb(7, 7, 29);
    border:5px  solid rgb(255,245,145);
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
    padding: 20px;
    width: 150px;
}

button:hover{
    background-color: orangered;
    color: snow;
}
.stopwatch:hover{
    background-color: rgb(150, 167, 164);
}
h1,p{
    font-family: cursive;
    font-size: 45px;
    text-shadow: 4px 5px 6px navy;
    color: whitesmoke;
}
